<!DOCTYPE html>
<html   xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Festa Dividision Master</title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized     for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <h1>Lista De Convidados</h1>
    <h3><a href="/festas" class="waves-effect waves-light btn"><i class="material-icons left">dehaze</i>Lista Festa</a></h3>
    <div th:each="responsavel:${responsavel}" class="container">
        <div class="row">
            <p>Nome Do Responsável: <span th:text="${responsavel.nome_responsavel}"></span></p>
            <p>CPF / CNPJ Do Responsável: <span th:text="${responsavel.cpf_cnpj_responsavel}"></span></p>
            <p>Email Do Responsável: <span th:text="${responsavel.telefone_reponsavel}"></span></p>
            <p>Telefone Do Responsável: <span th:text="${responsavel.email_responsavel}"></span></p>
        </div>
    </div>

    <div class="container formConvidado">
        <h3>Adicionar Convidados</h3>
		<form method="post" th:object="${Convidado}">
			Nome Do Convidado: <input type="text" value="" name="nome_convidado" placeholder="Nome Completo"/>
			RG ou Número do Convite: <input type="text" value="" name="rg_convidado_n_convite" placeholder="numero do rg ou convite"/>
                <button class="btn waves-effect waves-light" type="submit" name="action">Salvar Convidados
                <i class="material-icons right">add_box</i></button>
		</form>
		</div>

    <div class="container">
        <h5>Responsável</h5>
    </div>
    <!--JavaScript at end of body for optimized loading-->
   <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>